html,body, #admin
	height: 100%

#admin
	#header
		width: 100%
		position: fixed
		top: 0px
		z-index: 20
		background: $base-color
		border-bottom: 1px solid darken($base-color, 10%)
		padding: 0

		#nav-top

		#nav
			background: $color-primary
			color: $base-color

			.nav
				margin: 0
				display: flex
				flex-direction: row
				align-items: center
				align-content: center
				justify-content: center
				justify-items: center

				li
					flex: auto

					a
						padding: 1rem
						background: $color-primary

						&:hover
							text-decoration: none
							background: darken($color-primary, 10%)

					&:hover
						ul
							display: block

					&.current
						a
							background: darken($color-primary, 10%)

				> li
					position: relative

					a
						color: $base-background

					ul
						margin: 0
						padding: 0
						position: absolute
						top: 100%
						z-index: 20
						width: 100%
						display: none

						li
							clear: both
							width: 100%

							a
								width: 100%
			@include breakpoint('m-')
				ul li
					text-align: center
					.label
						display: none

	#page
		background: $base-background
		padding-top: 80px

		> .inner
			padding: 2rem

	.categories-tree
		//------ROOT------//
		> ul.sortable
			background: none !important
			overflow: hidden
			float: left
			width: 100%
			border: none !important
			padding: 0rem
			margin: 0

			> li
				margin-left: 0 !important

				> .item
					> .line
						display: none

		ul.sortable
			@extend .clearfix
			background: weaker($base-background, 10%)
			border-left: 1px solid weaker($base-border-color, 7%)
			
			//the dummy item
			.dummy-item
				height: 1rem
			
			//list item
			li
				margin-left: 1rem
				transition: all 400ms

				&:not(.visible)
					margin-bottom: 1rem

				&.visible > .item
					background-color: stronger($base-background, 5%)

				&.peek > .item
					background-color: $color-primary

					.name
						color: white

				.item
					position: relative
					background-color: weaker($base-background, 7%)
					border: 1px solid $base-border-color
					padding: 0.5rem
					width: 100%
					@extend .clearfix
	
					//horizontal branch line
					.line
						position: absolute
						left: -1rem
						width: 1rem
						height: 1px
						top: 50%
						background-color: weaker($base-border-color, 3%)

					.handle
						float: left
						margin-right: 1rem
						font-size: 1.4rem
						color: $base-color
						cursor: move

						&:hover
							color: $color-primary

						img
							-webkit-user-drag: none
							pointer-events: none

					.info
						float: left
						font-size: 1.1rem

						.name
							margin-right: 1rem

					.arrow
						float: right
						font-size: 1.4rem
						color: $base-color
						cursor: pointer

						&:hover
							color: $color-primary
					
				ul.sortable
					margin-left: 2rem

			//placeholder
			.sortable-placeholder
				border: 2px dotted $color-primary
				@extend .clearfix


	.products-list
		.product

			.header
				padding: 1rem

			.handle
				font-size: 1.8rem
				color: black
				cursor: move
				margin-right: 1rem

				&:hover
					color: $color-primary

			.name
				color: $color-primary
				cursor: pointer

	.laratable
		.actions.button-group
			a.button, form
				float: left
				display: inline-block

		//sort buttons
		tr th a.sort
			margin-left: 1rem
			i
				color: $base-color
				opacity: 0.3
			
			&:hover i
				color: $base-color
				opacity: 0.6

			&.active i
				color: $color-primary
				opacity: 1

			&.active:hover i
				color: lighten($color-primary, 10%)


		//base table style
		tr
			padding-top: 1rem
			padding-bottom: 1rem

			td
				font-size: 1.1rem
			th
				font-weight: 700

	.laratable-filters
		> .filters
			float: left
			margin-right: 2rem

			.filter
				float: left

				&:not(:last-child)
					margin-right: 2rem

				label
					margin-right: 1rem

		> .controls
			float: left

	.product-images, .slides .dropzone
		.dz-default.dz-message
			padding: 1rem
			text-align: center
			border-bottom: 1px solid $base-border-color

		.placeholder
			float: left
			clear: both
			width: 100%
			min-width: 100px
			outline: 2px dotted weaker($base-border-color, 20%)

		.dz-preview
			width: 100%
			margin: 1rem 0

			.preview-image
				float: left
				width: auto

				.handle
					cursor: move

				img
					text-align: center
					max-width: 100%
					max-height: 200px
					pointer-events: none

			.preview-info
				float: left
				width: auto

				.dz-filename
					font-size: 1.1rem
					font-weight: 700

				.dz-progress
					float: left
					width: 100%

				.dz-success-mark
					top: 50%
					left: 50%
					font-size: 4rem

				.dz-error-mark

				.dz-error-message


*[contenteditable="true"]
	border: 1px solid weaker($base-border-color, 10%)
	padding: 1rem

table
	th
		font-weight: $typo-font-weight-strong