// SETTINGS
$sidebarWidth: 200px
$headerHeight: 40px

$header-color: $base-color
$aside-color: weaker($base-background, 5%)
$border-color: weaker($base-border-color, 7%)

html,body, #admin
	height: 100%

#admin
	#header
		height: $headerHeight
		width: 100%
		position: fixed
		top: 0px
		z-index: 10
		background: $header-color
		border-bottom: 1px solid $border-color
		padding: 0.25rem

	#aside
		height: 100%
		width: $sidebarWidth
		position: fixed
		z-index: 5
		padding-top: $headerHeight
		top: 0px
		left: 0px
		background: $aside-color
		border-right: 1px solid $border-color

		#navigation
			> li > a
				padding: 1.2rem
			li
				a
					i
						font-size: 1.4rem
						margin-right: 0.5rem

			//submenus
			> li > ul
				display: none
				li
					a
						i
							font-size: 1.0rem


	#page
		background: $base-background
		width: 100%
		height: 100%
		position: absolute
		top: 0px
		left: 0px
		padding-bottom: 20px

		> .inner
			padding-left: $sidebarWidth + 20px
			padding-top: $headerHeight + 20px
			padding-right: 20px
			padding-bottom: 20px

		.footer-height-fix
			height: 53px
			width: 100%
			@extend .row

	#footer
		position: fixed
		z-index: 4
		width: 100%
		bottom: 0px
		left: 0px
		background: $aside-color
		border-top: 1px solid weaker($base-border-color, 10%)

		> .inner
			padding-left: $sidebarWidth + 10px
			padding-right: 10px
			padding-top: 10px
			padding-bottom: 10px
	
	.categories-tree
		//------ROOT------//
		> ul.sortable
			background: none !important
			overflow: hidden
			float: left
			width: 100%
			border: none !important
			padding: 0rem
			margin: 0

			> li
				margin-left: 0 !important

				> .item
					> .line
						display: none

		ul.sortable
			@extend .clearfix
			background: weaker($base-background, 10%)
			border-left: 1px solid weaker($base-border-color, 7%)
			
			//the dummy item
			.dummy-item
				height: 1rem
			
			//list item
			li
				margin-left: 1rem
				transition: all 400ms

				&:not(.visible)
					margin-bottom: 1rem

				&.visible > .item
					background-color: stronger($base-background, 5%)

				&.peek > .item
					background-color: $color-primary

					.name
						color: white

				.item
					position: relative
					background-color: weaker($base-background, 7%)
					border: 1px solid $base-border-color
					padding: 0.5rem
					width: 100%
					@extend .clearfix
	
					//horizontal branch line
					.line
						position: absolute
						left: -1rem
						width: 1rem
						height: 1px
						top: 50%
						background-color: weaker($base-border-color, 3%)

					.handle
						float: left
						margin-right: 1rem
						font-size: 1.4rem
						color: $base-color
						cursor: move

						&:hover
							color: $color-primary

					.info
						float: left
						font-size: 1.1rem

						.name
							margin-right: 1rem

					.arrow
						float: right
						font-size: 1.4rem
						color: $base-color
						cursor: pointer

						&:hover
							color: $color-primary
					
				ul.sortable
					margin-left: 2rem

			//placeholder
			.sortable-placeholder
				border: 2px dotted $color-primary
				@extend .clearfix


	.products-list
		.product

			.header
				padding: 1rem

			.handle
				font-size: 1.8rem
				color: black
				cursor: move
				margin-right: 1rem

				&:hover
					color: $color-primary

			.name
				color: $color-primary
				cursor: pointer

	.laratable
		.actions.button-group
			a.button, form
				float: left
				display: inline-block

		//sort buttons
		tr th a.sort
			margin-left: 1rem
			i
				color: $base-color
				opacity: 0.3
			
			&:hover i
				color: $base-color
				opacity: 0.6

			&.active i
				color: $color-primary
				opacity: 1

			&.active:hover i
				color: lighter($color-primary, 10%)


		//base table style
		tr
			padding-top: 1rem
			padding-bottom: 1rem

			td
				font-size: 1.1rem
			th
				font-weight: 700

	.laratable-filters
		> .filters
			float: left
			margin-right: 2rem

			.filter
				float: left

				&:not(:last-child)
					margin-right: 2rem

				label
					margin-right: 1rem

		> .controls
			float: left

	.product-images, .slides .dropzone
		.dz-default.dz-message
			padding: 1rem
			text-align: center
			border-bottom: 1px solid $base-border-color

		.placeholder
			float: left
			clear: both
			width: 100%
			min-width: 100px
			outline: 2px dotted weaker($base-border-color, 20%)

		.dz-preview
			width: 100%
			margin: 1rem 0

			.dz-details
				float: left
				width: 100%

				.dz-filename
					font-size: 1.1rem
					font-weight: 700

				.dz-size

				.handle
					cursor: move

					img
						text-align: center
						max-width: 100%
						max-height: 100%
						pointer-events: none

			.dz-progress
				float: left
				width: 100%

			.dz-success-mark
				top: 50%
				left: 50%
				font-size: 4rem

			.dz-error-mark

			.dz-error-message


*[contenteditable="true"]
	border: 1px solid weaker($base-border-color, 10%)
	padding: 1rem

table
	th
		font-weight: $typo-font-weight-strong