body, #front #footer
	background: weaker($base-background, 5%)

iframe
	max-width: 100%

#front
	background: $base-background
	background-position: top center
	background-attachment: fixed
	background-repeat: no-repeat

	//center the main components
	#header, #page, #footer, #nav, #nav-top, .nav-dropdown, #breadcrumbs, #slider, #cart
		> .inner
			margin: 0 auto
			max-width: $base-width

		&:not(:last-child)
			border-bottom: 1px solid $base-border-color

	#header
		position: relative
		z-index: 10
		#nav-top

			.nav li
				a
					color: weaker($base-color, 15%)

	#breadcrumbs
		background: darken($base-background, 10%)
		text-transform: uppercase
		font-size: 0.9rem

		> .inner
			padding: 0.4rem 1rem

			@include breakpoint('m-')
				display: flex
				flex-direction: column
				align-items: center

				li
					flex: auto

	#alerts
		padding-top: 2rem

		> .alerts
			max-width: $base-width
			margin: 0 auto

			.alert:first-child
				margin-top: 1rem
			.alert
				margin-top: 1rem
			.alert:last-child
				margin-top: 0
				margin-bottom: 1rem
	
	#slider
		background: stronger($base-background, 10%)
		box-shadow: 0px 0px 2rem 0px rgba(0,0,0, 0.5)
		max-height: 440px

		> .inner
			max-width: $base-width
			display: flex
			flex-direction: row
			align-items: stretch
			justify-content: center

			> .left
				flex: 1 1 auto

			> .right
				flex: 0 0 30%
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center

				.image
					display: block
					background-repeat: no-repeat
					background-size: cover
					background-position: center
					flex: 1 1 50%
					width: 100%
					border-left: 2px solid $base-background

					&:first-child
						border-bottom: 2px solid $base-background

			.slider
				border: none
				border-radius: 0

			.image
				transition: all $base-transition-duration
				transition-timing-function: ease-out

	#slogan

		> .inner
			margin: 0 auto
			max-width: $base-width
			padding: 1rem
			font-size: 1.1rem

			> *:first-child
				margin: 0

	#page
		border-bottom: 1px solid stronger($base-border-color, 10%)
		padding: 3rem 0

		> .inner
			display: flex
			flex-direction: row
			padding: 1rem

			@include breakpoint('m-')
				flex-wrap: wrap

			@include breakpoint('xs')
				padding-left: 0
				padding-right: 0

			#aside
				flex: 0 0 260px
				padding-right: 2rem
				@include breakpoint('m-')
					display: none

				> .inner
					> .block
						background: rgba(255, 255, 255, 0.75)
						&:not(:last-child)
							margin-bottom: 2rem

						&.module
							padding: 0
							background: none

						.module-content
							background: none

			#article
				flex: 1 1 auto
				order: 1

				> .inner
					@include breakpoint('m-')
						padding-left: 0rem

	.paper
		background-color: rgba(255,255,255, 0.85)

		.white
			background-color: white

	hr
		background-color: weaker($base-background, 15%)


#product-modal
	.slide
		background-size: contain


ul.nav.tabs
	background: none


#store-menu
	background: weaker($base-background, 5%)
	border-radius: $base-radius
	border: 1px solid $base-border-color

.checkout-navigation
	float: left
	width: 100%
	clear: both
	margin: 2rem 0
	display: flex
	flex-direction: row
	justify-content: space-around
	border: 1px solid weaker($base-border-color, 5%)
	background: weaker($base-background, 5%)
	padding: 0.6rem 0.8rem

	.item
		display: block
		text-decoration: none !important

		.badge
			margin-right: 0.4rem
			display: inline-block
			padding: 0.4rem
			width: 2rem
			height: 2rem
			line-height: 1rem
			border-radius: 50%
			background: white
			border: 1px solid $base-border-color
			color: black
			padding-left: 0.6rem

		.title
			font-size: 1.1rem

		&.current
			.badge
				background-color: $color-primary
				color: white

#buy-modal
	.header
		text-align: center

	.info
		display: flex
		flex-direction: row
		align-content: center
		align-items: center
		justify-content: center
		clear: both

		.quantity
			margin: 0px 0.5rem

		.thumbnail
			margin: 0px 0.5rem

		.description
			margin: 0px 0.5rem

	.footer
		clear: both
		display: flex
		flex-direction: row
		justify-content: space-around

		.continue
			margin: 0

	@include breakpoint ('sm-')
		.footer
			button, .button
				font-size: 1rem