body, #front #footer
	background: weaker($base-background, 5%)

iframe
	max-width: 100%

#front

	//center the main components
	#header, #page, #footer, #nav, #nav-top, .nav-dropdown, #breadcrumbs, #slider, #cart
		> .inner
			margin: 0 auto
			max-width: $base-width

		&:not(:last-child)
			border-bottom: 1px solid $base-border-color
	
	#header
		background: weaker($base-background, 5%)

		#nav-top
			background: stronger($base-background, 5%)

			.nav li
				a
					color: weaker($base-color, 15%)

	#breadcrumbs
		background: darken($base-background, 2%)
		text-transform: uppercase
		font-size: 0.8rem

		> .inner
			padding: 0.4rem 1rem

		@include breakpoint('m-')
			display: flex
			align-items: center

			li
				flex: auto

	#alerts
		> .alerts
			max-width: $base-width
			margin: 0 auto
			padding-top: 2rem
			padding-bottom: 2rem

			.alert:first-child
				margin-top: 1rem
			.alert
				margin-top: 1rem
			.alert:last-child
				margin-top: 0
				margin-bottom: 1rem
	
	#slider
		> .inner
			max-width: 1440px

			.slider
				border: none
				border-radius: 0
				height: 500px

	#page
		border-bottom: 1px solid stronger($base-border-color, 10%)
		background: $base-background

		> .inner
			padding: 1rem 0rem
			display: flex
			flex-direction: row
			@include breakpoint('sm-')
				flex-wrap: wrap

			#aside
				flex: 0 0 240px

				> .inner
					> .block
						padding: 1rem
						margin-bottom: 1rem
						border-bottom: 1px solid $base-border-color

				@include breakpoint('sm-')
					flex: 0 1 100%
					width: 100%
					order: 2
					background: weaker($base-background, 10%)


			#article
				flex: 1 1 auto
				order: 1

				> .inner
					padding: 1rem
					padding-top: 1rem

	#footer


#product-modal
	.slide
		background-size: contain


ul.nav.tabs
	background: none



#store-menu
	background: weaker($base-background, 5%)
	border-radius: $base-radius
	border: 1px solid $base-border-color