/vendor
/node_modules
.env
public/images/products/*
public/images/slides/*
public/images/manufacturers/*
public/images/*
public/images/products/*
public/robots.txt
/.idea
.idea/workspace.xml
.phpstorm.meta.php
.env