/vendor
/node_modules
.env
public/images/*
public/robots.txt
.idea/
.phpstorm.meta.php
/composer.lock
resources/assets/vendor/
/_ide_helper.php
/friluft_products.sql
/friluft_category_product.sql
/friluft_categories.sql