.cart-table
	table
		tbody
			tr.item
				.product
					vertical-align: middle

				.thumbnail
					height: 80px
					border: none

				.quantity
					width: 140px

					.input-append
						width: 80px

			tr.shipping
				.icon
					.fa
						font-size: 3.4rem
				.value
					text-align: right

	.footer
		.total
			float: left
			h3
				font-weight: 700

		.button
			float: right
