.cart-table
	table
		tbody
			.product
				vertical-align: middle

			.thumbnail
				width: 80px

			.quantity
				.input-append
					input
						max-width: 80px

	.footer
		.total
			float: left
			h3
				font-weight: 700

		.button
			float: right