.cart-table
	.empty-message

	table
		tbody
			.image

			.product
				vertical-align: middle

			.thumbnail
				width: 80px
			.quantity
				.input-append
					max-width: 100px

					input
						flex: 1 1 auto