.checkout-view
	> .checkout-products
		padding: 3rem 0
		border-right: 1px solid $base-border-color

		> .grid
			padding: 1rem

			.product
				&:not(:last-child)
					margin-bottom: 2rem

				.header
					.name
						font-size: 1rem
					.price
						font-size: 1.1rem
	> .cart
		padding: 3rem 0
		> .paper
			padding: 1rem

	> .aside
		padding: 3rem 0
		> .block
			&:not(:last-child)
				margin-bottom: 2rem