#home
	.row
		margin: 0

	.tile
		padding: 2px
		img
			width: 100%

	.top
		.slider
			float: left
			width: 70%

		.tiles
			float: left
			width: 30%

			.tile
				img
					width: 100%

		@include breakpoint('sm-')
			.slider
				width: 100%
			.tiles
				display: none

	.middle
		> .left, > .right
			float: left
			width: 50%

		> .left
			> .bottom
				.tile
					float: left
					width: 50%
		> .right
			> .bottom
				.tile
					float: left
					width: 50%

		@include breakpoint('sm-')
			.left > .bottom, .right > .bottom
				display: none

	.bottom
		.left, .right
			float: left
			width: 50%

	.row.products
		padding: 1rem

		.products-grid
			.product
				width: 25%

				@include breakpoint('m-')
					width: 50%