.products-block

	> .preview
		position: relative
		display: block
		width: 100%
		height: 320px
		text-align: center
		background: white

		> .image
			display: block
			width: 100%
			height: 100%
			background-position: center
			background-size: contain
			background-repeat: no-repeat

			transition: all $base-transition-duration * 2
			transition-timing-function: ease-out

		.overlay
			width: 100%
			height: 100%
			position: absolute
			top: 0px
			left: 0px
			transition: all $base-transition-duration
			opacity: 0.6

			&:hover
				opacity: 0.8

			.tags
				.tag
					position: absolute
					font-size: 1.2rem
					background-color: transparentize($color-primary, 0.3)
					padding: 0.6rem
					color: black
					text-transform: uppercase

					&:first-child
						left: 0px
						top: 0px
					&:nth-child(2)
						right: 0px
						top: 0px
					&:nth-child(3)
						right: 0px
						bottom: 0px
					&:nth-child(4)
						left: 0px
						bottom: 0px

				.tag.tag-availability
					&.availability-bad
						background: $color-error
						color: white

					&.availability-warning
						background: $color-warning
						color: white

	> .header
		position: relative
		display: flex
		flex-direction: row
		align-items: center
		justify-content: flex-start
		padding-top: 1rem

		.title
			display: block
			flex: auto
			padding-right: 1rem

			&:hover
				text-decoration: none

				.manufacturer, .name
					color: $color-primary

		.price
			flex: auto
			font-weight: $typo-font-weight-strong
			text-align: right

			&.discount
				clear: both

				del
					font-size: 1.2rem

	&:hover
		> .preview

			> .image
				transition-duration: $base-transition-duration * 0.5

		> .footer
			opacity: 0.7

	// availability-color
	&.availability-bad
		.header .title .name
			//color: $color-error

	&.availability-warning
		.header .title .name
			color: $color-warning