.products-grid-options
	overflow: visible
	.filters
		.price-filter
			.header, .values, .control
				float: left
				width: 100%

			.header

			.values
				.min-value, .max-value
					font-weight: $typo-font-weight-strong
					&:after
						content: ",-"

			.control
				padding: 1rem


.products-grid-sort
	float: right
	padding: 1rem 0
	h4
		float: left
		margin-right: 1rem
		margin-bottom: 0
	select
		float: left


.products-grid
	float: left
	width: 100%
	
	.products-block
		width: 50%
		padding: 1rem

		@media (min-width: 1200px)
			width: 33%