.product-view
	@include clearfix()
	.header
		float: left
		width: 100%
		margin-bottom: 1rem

	.product-top
		display: flex

		.product-images
			padding-bottom: 0
			background: stronger($base-background, 10%)
			display: flex
			flex-direction: column-reverse

			.thumbnails
				flex: 0 0 140px
				overflow-y: hidden
				overflow-x: auto
				display: flex
				flex-direction: row
				align-items: center
				justify-content: center
				border-top: 1px solid $base-border-color
				padding-top: 1rem

				.thumbnail
					flex: 1 1 140px
					height: 140px
					background-position: center
					background-size: contain
					background-repeat: no-repeat

					&.active
						border: 1px solid $color-primary

			.slider
				flex: 1 1 auto
				border: none


				.container
					.slide

		.product-info
			position: relative
			padding-bottom: 0
			display: flex
			flex-direction: column
			align-items: center
			align-content: stretch
			flex: 1 1 400px

			> .manufacturer
				img
					max-width: 80%

			> .header
				display: flex
				align-items: center
				align-content: center

				> .title
					flex: auto
					margin-right: 1rem

				> .price
					flex: auto
					text-align: right

			form
				width: 100%
				flex: 1 0 auto
				display: flex
				flex-direction: column
				align-content: space-between

				.product-variants
					margin-bottom: 2rem

				.buy
					margin-top: auto
					text-transform: uppercase
					padding: 2rem 4rem
					font-size: 1.6rem
					width: 100%

				.toggle-add-modal
					display: none

					&.fixed
						position: fixed
						bottom: 0px
						width: 100%
						z-index: 200
						left: 0px

			.summary
				border-top: 1px solid $base-border-color
				padding-top: 1rem
				transition: all $base-transition-duration
				margin-bottom: 1rem


	.product-bottom
		ul.tabs
			li.current
				a
					background: stronger($base-background, 10%)

		.tab
			background: stronger($base-background, 10%)

		#product-relations
			.products-grid
				.products-block
					float: left
					width: 50%

					@include breakpoint('xl')
						width: 33%


	@include breakpoint('sm-')
		.product-top
			display: block
			.product-images
				.thumbnails
					display: none

			.product-info
				clear: both

				> .manufacturer
					display: none

				> form
					.product-variants
						display: none

					.buy
						display: none
					.toggle-add-modal
						display: block

		.product-bottom
			#product-tabs
				display: flex
				flex-direction: row
				align-items: stretch

				li
					flex: auto
					float: none
					text-align: center
					display: flex
					align-items: stretch
#add-modal
	margin-top: 50%

	.variants
		margin-bottom: 1rem
		select
			width: 100%
	.buy
		width: 100%