@import ../base/settings

@import settings

@import ../../../../node_modules/@afflicto/gentlestyle/src/sass/gentlestyle

@import ../base/base

button.primary, .button.primary, input[type="submit"].primary
	@include button-color($color-secondary, $base-gradient-amount)
	color: lighten($base-background, 25%)

button.tertiary, .button.tertiary, input[type="submit"].tertiary
	@include button-color($color-tertiary, $base-gradient-amount)
	color: lighten($base-background, 25%)

#front
	#header
		#nav-top
			background-color: #343434

			ul.nav li a
				color: #eee
				padding: 0.8rem
		#nav
			background: white

			#logo
				@include breakpoint('m-')
					max-width: 100px

	#breadcrumbs

	#page
		//background-image: url('../../images/concrete_seamless.png')

	#nav-top
		background: #282828
		color: #eee