$base-color: #353535
$base-background: #fff
$base-border-color: #ddd
$base-gradient-amount: 0%

$color-primary: #3bbcfc
//$color-secondary: #06d6fc
$color-secondary: #f6700f
$color-tertiary: #f96226

$color-success: #27AE60
$color-info: #2799AE
$color-warning: #F39C12
$color-error: #C0392B

$table-border-color: $base-border-color

$base-logo-height: 14